<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Engineers</title>
<link rel="shortcut icon" href="">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://storage.cloud.google.com/always-onward-static/base.css">
<style>
  .back{width:100%;color:white;overflow: hidden}
  .middle{width:50%; height:85%; right: 25%; top: 15%; background-color:Black; color:white;padding: 0 5px; }
  .middle::-webkit-scrollbar {display: none;}
  .lg-view{display:none}
  .sm-view{display:inline-block}
	.engineers-table{table-layout: fixed; text-align: center; width: 100%;float: center}
  .bgimg-1 {
    background-image: url('https://lh3.googleusercontent.com/VNXRETjkjVY5a2KmCuguQsDLWAdIxtcRWglAojIOjiiRurJnr01Ei2FL7i1nwL9p8DDi9ZL2AMFKfBAmzJWK0AACqZ-JMKebNMjfK1vxpmeIKdAvebrB7WAIoiKPWZVkUOKDQoyIOQ=w2400');
    min-height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
  @media only screen and (max-width: 860px) {
    .middle {width:90%; height:85%; right: 5%; top: 15% }
		.engineers-table{table-layout: fixed; text-align: center; width: 100%;float: center}
  }
	
</style>
<body>
<div class="split back">
  <div class="bgimg-1">
  <h1 style='text-align: center'>Elite Dangerous</h1>
  </div>
</div>
<div class="split middle">
<div id="prereqs">
<h1 style='text-align: center'>Ships guide!</h1>
First question is which ship should I use. There are tons of options - big/small, combat/exploration, etc. I personally have 4 ships - an explorer, a multi-purpose 

Personally I use three lasers and two multi canons on my Python.
One class 3 pulse laser out front, and two beams on the class 2's. I then use the other two class 3's with multi's. As said before, bigger multi canons are more effective against medium and large ship hulls whereas smaller ones have a damage fall off.
<br><br>
I use two fire-groups.
<br>  1. Pulse laser on primary fire, beams on secondary fire.
<br>  2. Pulse laser on primary fire, multi's on secondary fire.
<br><br>
I start with primary fire-group to take down shields, and once they are down I swap to secondary fire group to take out hulls with the multis and continue to use the larger pulse laser to help out.

Mod wise I am pretty sure the lasers all have efficient mods and the multis are likely overcharged with corrosive special effect.

<br><br>Couple of options for Krait Mk2
<br>  1. <a href="https://s.orbis.zone/lx8" title="Fixed weapons">Fixed weapons</a>
<br>  2. <a href="https://coriolis.io/outfit/krait_mkii?code=A4pptkFflidussf50u0u2b27270404040jB1fm5i5i1J1F1F27.Iw18WQ%3D%3D.CwBjYRnEIhmBwLAEwoXEQ%3D%3D%3D.H4sIAAAAAAAAA42SvS8DcRjHn7Z31ffr1bXOe%2BnRxCA1SiQsQkREYulgqMGkQweSDgwWMYqIwdTBaDAYjAZ%2FgNFgEFOHEoNIUc%2FjeS76SyWa9IZvnuT7eX7P2wEGAOBbZ2kcs4TXP4jMw08ip2IAkAdnxfeKv8cSqPoADLtBlCp2se%2FFlMrfZjEcTrVqLEnJty81gEyph0kf9imy3CQT12EAazfJ5AM7pOGUQJr4hVf2r56ISMdplbrPEowgUejEBBiRaFSiMYnGJSI%2FbjTxRDwLMLn4RtS7PMhWANfUS0MseiEI4C%2B%2BENlzz0SZoyqXC3YChVogrR0UxryCeG%2Bgycx6vp%2FJiygvxp050gJBOyiKCwo6kzud%2B3lFq198LInsW67uSESxjkkD5%2F%2BQhlRK5HZ%2BoeH7GENx3GxCRrnGe5x5J8rdPPJ0Jq6o%2FC3x5eKmVHLci3fjkvgyeOOAxVPhVPfs9h3%2FO9k0O5l6nV%2ByOiZtnFA1T2U66TmWHuDCbvfSguNujOCf7webMmdm7wIAAA%3D%3D.IwegTAdArO0gDCAzGBICmBDA5gG3SCMPCUA%3D" title="Fixed weapons">Fixed weapons</a>

Explorer vehicle
<br>  1. <a href="https://coriolis.io/outfit/asp?code=A0p5tiFflid8snf5---18--02---3c1O0i0i40v62i.AwRj40PZVI%3D%3D.MwRgDBldYEy5cQ%3D%3D.H4sIAAAAAAAAA2P4x87AwPCXFUj8mQQkeKt4GBgEQ5gYGFQ%2BMjIwcO8Asv4z%2FrODK6oFEhwBv%2F%2F%2F53%2Bgx8AgtoGFgUHoAtCM%2F0z%2FxOCKyoAEv8qv%2F%2F8lQPIickDlogv4GRiUC8SBKpn%2FScFVVgAJoR3cMOV3gIIiNaJARSxCc54BLfH48v%2F%2Ff9Z%2FVnANLUCCE2QMl4EgA4MiSJcSiFAFEWo8%2F4DK2f4lwJQLHXgANKTizf%2F%2FejbfgFLc%2F8LgJvWA5G%2FcAcpPeAG0uvMDUGf0J6Aivn9qMEVgrUJn7gFFxf75wLUWgqRABgqB5EVW%2FAX6D%2BR0iQSgIf%2F%2FM8ABANnU8axfAQAA.EweloBhBmSQUwIYHMA28QgIwVyKBQA%3D%3D" title="ASP explorer">ASP explorer</a> - 

Imperial Cutter
<br>  1. <a href="https://coriolis.io/outfit/imperial_cutter?code=A4putuFplxdusCf67o1f1f1c1c27270404040404040402p7615nfm1O2d2d2L2M2b29.Iw18ZFA%3D.CwBj5AmachGBi4kQZlBEQ%3D%3D%3D.H4sIAAAAAAAAA42TO0tDQRCFJ%2Badm9fNOxox0RsDKSRtKm3EWAjpTOkPsLBQSJHGQhCxErGysLC0sNNCUklqSwsRC8uUFkHjjmcCWUxA2Qt7OOx8OzN3mSUVIKJvL2R4BrHWhsx2B%2BK8pYnYpVYl7pF4BxJ48hPFagPmzHsY8RmV0ef3ITHnkznVh6SvYkS5W5xc2suCdKtZTbbHZOLeIkp1UCn3ggh7VV1Dh5BgWDGHzm2ikrhFcWVxy%2BLYp3YEd0u6xgfStfvMK5KYA6qlM2GRR3a9rTki300EPY3KBdW2hk4g1SZk1NOonXy8AihkAlkmUNgEipg0Hv0Fuf%2BCYmpdQ5dyRbKbqB2g3GOQaOE5CihuAtkmUMIESppAKbUxAVnXPpDNL0ymuBHpiOO0akySMhu2iHMaQjyjyuMBoeMkKskVF8RxVm3po7uQmRyG3ifzatXB26%2BQtLTjPGDkOac2x5mGRxCXPAT%2FAA%2BhIr9QlPHjvAlUUFVd%2BEJ6voONFguoKS4h78YRx%2FPGZHGa7Gqyq0lxXJome5rsaVIcM%2F3z%2FQCH8gASOAQAAA%3D%3D.CwegDCBM4gbKECmBDA5gG0SEBGM%2BYIwg" title="Turrets">Turrets</a>

</body>