/*load required templates */
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css";

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
h1,h2,h3 {
  margin: 0;
  padding: 0;
}
h1,h2,h3,a,p { font-family: 'Open Sans', sans-serif; }
a:hover,
a:focus {
  text-decoration: none;
}

/* Header */
body {
  overflow-x: hidden;
  background-color: DarkGray;
  margin-bottom: 20px;
}
#header {
  background: #000000;
  height: 60px;
  position: relative;
  z-index: 100;
  white-space: nowrap;
}
.site-name {
  color: #FCDD44;
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Home */
.home-section {
  position: relative;
  top: 50px;
}

.tool-container {
  padding: 30px 0;
  font-size: 16px;
  color: white;
  height: 88px;
  text-transform: uppercase;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
}
.tool-container a { color: white; }
.tool-container a:hover { color: gray; }

:root {
  --home-card-height: 436px;
  --tool-container-height: 88px
}

.tool-container {
  padding: 30px 0;
  font-size: 16px;
  color: white;
  height: var(--tool-container-height);
  text-transform: uppercase;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
}
.tool-container a { color: white; }
.tool-container a:hover { color: gray; }

.home-card {
  width: calc(var(--home-card-height)*.8);
  height: var(--home-card-height);
  margin-left: auto;
  margin-bottom: 30px;
  overflow: hidden;
}

/* Footer */
#footer { background-color: #000; margin-top: 70px; }
.copyright-text {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright-text a {
  color: #FCDD44;
}
.copyright-text a:hover {
  color: white;
}

.home-card img {
  width: 100%;
  height: calc(var(--home-card-height) - var(--tool-container-height));
  object-fit: cover
}

.split {height: 100%;width: 50%;position: fixed;z-index: 1;top: 0;overflow-x: hidden}
.centered {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center}
.left {left:0;}
.right {right:0;}

.button{border:none;
  border-radius:4px;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  color:#fff;
  background-color:#7a7a52;
  margin-bottom: 10px;}
.button:hover{color:#000!important;background-color:#ccc!important}


@media screen and (max-width: 1199px) {
  .home-section { top: 5px;}
  :root {
    --home-card-height: 300px;
    --tool-container-height: 80px
  }
}

@media screen and (max-width: 991px) {
  :root {
    --home-card-height: 346px;
    --tool-container-height: 88px
  }
}

@media screen and (max-width: 767px) {
  :root {
    --home-card-height: 436px;
    --tool-container-height: 88px
  }
  .home-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  .left {width:100%}
  .right {width:90%; height:85%; right: 5%; top: 15% }
}



